.project
.pybuild/
.pydevproject
build/
debian/debhelper-build-stamp
debian/files
debian/mailindicator/
debian/mailindicator.debhelper.log
debian/mailindicator.postinst.debhelper
debian/mailindicator.prerm.debhelper
debian/mailindicator.substvars
pylintrc_template

