Source: mailindicator
Section: utils
Priority: optional
Maintainer: Alessio Piccoli <alepic@geckoblu.net>
Build-Depends: debhelper (>= 8), python (>= 2.4), python-distutils-extra (>= 2.10)
Standards-Version: 3.9.3
Homepage: http://www.geckoblu.net/html/mailindicator.html
Vcs-Git: git://github.com/geckoblu/mailindicator.git

Package: mailindicator
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-lxml, python-xdg, python-feedparser
Recommends: python-notify
Description: Monitors mailboxes for new mail.
 Monitors mailboxes for new mail showing the status.
