[Desktop Entry]
Name=Mail Indicator
Icon=mailindicator
Comment=Monitors mailboxes for new mail.
Type=Application
Categories=GTK;Network;Email;
Exec=mailindicator -q
Terminal=false
StartupNotify=true
